### First define the MySeries Class

In [1]:
from MySeries import MySeries

### Test the MySeries Class

#### Define a MySeries instance using a dictionary

In [2]:
d = {'b':1, 'a':0, 'c':2}
s2 = MySeries(d)

In [3]:
s2.max()

2

In [4]:
s2.min()

0

In [5]:
s2.mean()

1.0

In [6]:
s2.print()

b               1
a               0
c               2

#### Define MySeries instance using lists

In [7]:
s3 = MySeries([1,3,2,5,4], ['one', 'three', 'two', 'five', 'four'])

In [8]:
s3.max()

5

In [9]:
s3.min()

1

In [10]:
s3.mean()

3.0

In [11]:
s3.print()

one             1
three           3
two             2
five            5
four            4

In [12]:
s3.item_at_ind('three')

3

#### Define a MySeries instance without an index

In [13]:
s4 = MySeries([2,2,2,3,3,3])

In [14]:
s4.max()

3

In [15]:
s4.min()

2

In [16]:
s4.mean()

2.5

In [17]:
s4.print()

0               2
1               2
2               2
3               3
4               3
5               3

### Now define the MyDataFrame Class

In [18]:
from MyDataFrame import MyDataFrame

### Test the MyDataFrame Class

#### Weather Data Frame

In [19]:
d = {'Sun Hours': [4.5,4.0,5.1,5],
     'Max Temp': [19.6,19.1,19.6,20.0],
     'Min Temp': [12.7,12.5,13.3,12.1],
     'Rain (mm)': [82,109,65,76],
     'Rain Days': [13,20,10,9.7]}

In [20]:
df2 = MyDataFrame(d, index = ['Clare', 'Galway', 'Dublin', 'Wexford'])

In [21]:
df2.df_dict['Sun Hours'].s_dict.keys()

dict_keys(['Clare', 'Galway', 'Dublin', 'Wexford'])

In [22]:
df2.df_dict['Max Temp'].item_at_ind('Clare')

19.6

In [23]:
df2.df_dict['Sun Hours'].print()

Clare           4.5
Galway          4.0
Dublin          5.1
Wexford         5

In [24]:
df2.print()

                Sun Hours       Max Temp        Min Temp        Rain (mm)       Rain Days
Clare           4.5             19.6            12.7            82              13
Galway          4.0             19.1            12.5            109             20
Dublin          5.1             19.6            13.3            65              10
Wexford         5               20.0            12.1            76              9.7

In [25]:
df2.sort_values('Rain (mm)')

In [26]:
df2.print()

                Sun Hours       Max Temp        Min Temp        Rain (mm)       Rain Days
Dublin          5.1             19.6            13.3            65              10
Wexford         5               20.0            12.1            76              9.7
Clare           4.5             19.6            12.7            82              13
Galway          4.0             19.1            12.5            109             20

In [27]:
df2.min()

Sun Hours           4.00
Max Temp           19.10
Min Temp           12.10
Rain (mm)          65.00
Rain Days           9.70

In [28]:
df2.max()

Sun Hours           5.10
Max Temp           20.00
Min Temp           13.30
Rain (mm)         109.00
Rain Days          20.00

In [29]:
df2.mean()

Sun Hours           4.65
Max Temp           19.58
Min Temp           12.65
Rain (mm)          83.00
Rain Days          13.18

#### Films Data Frame

In [30]:
films = {'Rank': [112,62,41,172,230,176],
        'Release Year': [1973,1980,1960,2015,1976,1996],
        'IMDB Rating': [8.3,8.4,8.5,8.1,8.1,8.1],
        'Time (minutes)': [129,146,109,118,120,98],
        'Main Genre': ['Comedy','Horror','Horror','Drama','Drama','Drama']}
f_names = ['Sting','Shining', 'Psycho','Room','Rocky','Fargo']

films_df =  MyDataFrame(films, index = f_names)

In [31]:
films_df.print()

                Rank            Release Year    IMDB Rating     Time (minutes)  Main Genre
Sting           112             1973            8.3             129             Comedy
Shining         62              1980            8.4             146             Horror
Psycho          41              1960            8.5             109             Horror
Room            172             2015            8.1             118             Drama
Rocky           230             1976            8.1             120             Drama
Fargo           176             1996            8.1             98              Drama

In [32]:
films_df.mean()

Rank              132.17
Release Year     1983.33
IMDB Rating         8.25
Time (minutes)    120.00

In [33]:
films_df.sort_values('Release Year')

In [34]:
films_df.print()

                Rank            Release Year    IMDB Rating     Time (minutes)  Main Genre
Psycho          41              1960            8.5             109             Horror
Sting           112             1973            8.3             129             Comedy
Rocky           230             1976            8.1             120             Drama
Shining         62              1980            8.4             146             Horror
Fargo           176             1996            8.1             98              Drama
Room            172             2015            8.1             118             Drama

In [35]:
films_df.sort_values('Time (minutes)')

In [36]:
films_df.print()

                Rank            Release Year    IMDB Rating     Time (minutes)  Main Genre
Fargo           176             1996            8.1             98              Drama
Psycho          41              1960            8.5             109             Horror
Room            172             2015            8.1             118             Drama
Rocky           230             1976            8.1             120             Drama
Sting           112             1973            8.3             129             Comedy
Shining         62              1980            8.4             146             Horror

In [37]:
films_df.max()

Rank              230.00
Release Year     2015.00
IMDB Rating         8.50
Time (minutes)    146.00
Main Genre      Horror

#### An unindexed version of the Weather Data Frame

In [38]:
test = MyDataFrame(d)

In [39]:
test.print()

                Sun Hours       Max Temp        Min Temp        Rain (mm)       Rain Days
0               4.5             19.6            12.7            82              13
1               4.0             19.1            12.5            109             20
2               5.1             19.6            13.3            65              10
3               5               20.0            12.1            76              9.7